{% extends "base.html" %}

{% block title %}엘리스 도서관{% endblock %}

{% block page_content %}    
    {% if book_list %}
    <h2 class="book-list-title"> 📖 책 목록 📖</h2><br>
    {% if session['id'] %}
        <span class="description"> <span style='color:blue'>대여하기</span>를 눌러 책을 대여해보세요.</span>
        <br><span class="description"> <span style='color:#02a1d1'>대여기간</span>은 2주입니다.</span>
        
    {% else %}
        <span class="description"> <a href="{{ url_for('main.login')}}" style='color:blue;cursor:pointer'>로그인</a>하고 책을 대여해보세요.</span>
    {% endif %}
<section style="margin:25px 60px 0 60px;">
  <div class="container">
    <div class="row">
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      {% for book in book_list.items %}
      <div class="col-lg-3 mb-3 d-flex align-items-stretch" >
        <div class="card text-center"  style="width:400px;padding:10px;border-radius:15px;">
            <img class="align-self-center" src = "{{ url_for('static', filename='image/{}.jpg'.format(book.id)) }}" style="max-width: 40%; height: auto;" alt="Book Image">
          <div class="card-body  d-flex flex-column">
            <div class="card-title mb-auto">{{ book.book_name }}</div>
            <div style="margin-bottom:10px;" class="card-text mt-auto main-content"> 
                {{ book.count }} 권 남음<p></p>
                {% for i in range(book.rating|round|int) %}
                    <span class="star">⭐</span>
                {% endfor %}
                {% for i in range(5 - (book.rating|round|int)) %}
                    <span class="notstar">⭐</span>
                {% endfor %}
            </div>
            <a href="/detail/{{ book.id }}" class="stretched-link"></a>
            <a href="{{ url_for('main.rental', book_id=book.id)}}" class="btn btn-primary mt-auto align-self-center second" style="width:180px;">대여하기</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
    </div>
  </div>
</section>
{% endif %}
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center" style="margin-top:20px;">
        <!-- 이전페이지 -->
        {% if book_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ book_list.prev_num }}">&laquo</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&laquo</a>
        </li>
        {% endif %}
        {% for page_num in book_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != book_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
           {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
           {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if book_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ book_list.next_num }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&raquo;</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->


{% endblock %}
