{% extends "base.html" %}

{% block title %}엘리스 도서관{% endblock %}

{% block page_content %}    
    {% if book_list %}
    <h2 class="book-list-title"> 📖 책 목록 📖</h2><br>
    {% if session['id'] %}
        <span class="book-list-title"> <span style='color:blue'>대여하기</span>를 눌러 책을 대여해보세요.</span><br>
        <span class="book-list-title"> <span style='color:#02a1d1'>대여기간</span>은 2주입니다.</span>
    {% else %}
        <span class="book-list-title"> <span style='color:blue'>로그인</span>하고 책을 대여해보세요.</span>
    {% endif %}
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-12">
                <ul class="booklist">
                    {% for book in book_list%}
                        <a href="/detail/{{ book.id }}">
                            <li class="list-group-item list-group-item-action">
                                <img src = "{{ url_for('static', filename='image/{}.jpg'.format(book.id)) }}"  height="115" width="100">
                                <img src = "{{ url_for('static', filename='image/{}.png'.format(book.id)) }}"  height="115" width="100">
                                <div style="padding:15px;">
                                    <div class="book-title">{{ book.book_name }}</div>
                                    {{ book.count }} 권 남음<br>
                                    {% for i in range(book.rating|round|int) %}
                                        <span class="star">⭐</span>
                                    {% endfor %}
                                    {% for i in range(5 - (book.rating|round|int)) %}
                                        <span class="notstar">⭐</span>
                                    {% endfor %}
                                    <form action="{{ url_for('main.rental', book_id=book.id)}}">
                                        {% if session['id'] %}
                                            <input style="margin-top:17px; width:180px;" class="btn btn-primary" type="submit" value="대여하기">
                                        {% endif %}
                                    </form>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>                
            </div>
        </div>
    </div>
    {% else %}
    <p>책이 없어요...</p>
    {% endif %}
{% endblock %}
