{% extends "base.html" %}
{% block title %}엘리스 도서관 회원가입{% endblock %}
{% block page_content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-3">
        <img src="{{url_for('static', filename='image/rabbit.png')}}" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-auto col-lg-auto col-xl-6 offset-xl-1">
        <form action="{{ url_for('main.register') }}" method="post">
        <h2 class="LoginTitle">엘리스 도서관 회원가입</h2>
          <div class="form-outline mb-3">
            <label for="name">이름</label>
            <input
              class="form-control form-control-lg"
              type="text"
              name="name"
              id="name"
              placeholder="Enter name"
            />
          </div>
          <div class="form-outline mb-3">
            <label for="email">이메일</label>
            <input
              class="form-control form-control-lg"
              type="email"
              name="email"
              id="email"
              placeholder="Enter a valid email address"
            />
          </div>
          <div class="form-outline mb-3">
            <label for="password">비밀번호</label>
            <input
              class="form-control form-control-lg"
              name="password"
              type="password"
              placeholder="Enter password"
            />
          </div>
          <div class="form-outline mb-3 mt-auto">
            <label for="password">비밀번호 확인</label>
            <input
              class="form-control form-control-lg"
              name="check_password"
              type="password"
              placeholder="Enter password again"
            />
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;width:15em;">회원가입</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
