{% extends "base.html" %}

{% block title %}대여 기록{% endblock %}
{% block page_content %}  

<h2 class="book-list-title"> 📖 나의 HISTORY 📖</h2><br>
{% if myrental %}
    <span class="description">{{session['name']}}님의 대여기록입니다.</span>
    <section style="margin:25px 60px 0 60px;">
    <div class="container">
        <div class="row">
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        {% for rental in myrental%}
            {% for book in book_list %}
                {% if rental.book_id == book.id %}
                <div class="col-lg-3 mb-3 d-flex align-items-stretch" >
                    <div class="card text-center"  style="width:400px;padding:10px;border-radius:15px;">
                        <img class="align-self-center" src = "{{ url_for('static', filename='image/{}.jpg'.format(book.id)) }}" style="max-width: 40%; height: auto;" alt="Book Image">
                    <div class="card-body  d-flex flex-column">
                        <h5 class="card-title mb-auto">{{ book.book_name }}</h5><br>
                        <div style="margin-bottom:10px;" class="card-text mt-auto main-content"> 
                            {% if rental.status == False %}
                            {{ rental.rental_date }} ~ {{ rental.return_date }}<p></p>
                            {% else %}
                            {{ rental.rental_date }} ~ 대여중 <br> (반납 기한 : {{ rental.return_date }})<p></p>
                            {% endif %}
                            {% for i in range(book.rating|round|int) %}
                                <span class="star">⭐</span>
                            {% endfor %}
                            {% for i in range(5 - (book.rating|round|int)) %}
                                <span class="notstar">⭐</span>
                            {% endfor %}
                        </div>
                            <a href="/detail/{{ book.id }}" class="stretched-link"></a>
                            <a href="{{ url_for('main.delete_history', rental_id=rental.id)}}" class="btn btn-outline-danger mt-auto align-self-center second" style="width:100px;">삭제</a>
                    </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        </div>
    </div>
    </section>
    {% else %}
    <h2 class="book-list-title"> 대여기록이 없어요...</h2>
    <form action="{{ url_for('main.home')}}">
        <input class="book-list-title btn btn-warning" type="submit" value="책 대여하러 가기">
    </form>
    {% endif %}

{% endblock %}
