{% extends "base.html" %}
{% block title %}반납하기{% endblock %}
{% block page_content %}

    <h2 class="book-list-title"> 📖 대여 책 목록 📖</h2><br>
    {% if myrental %}
        <span class="description"> <span style='color:blue'>반납하기</span>를 눌러 책을 반납하세요.</span>
            <section style="margin:25px 60px 0 60px;">
            <div class="container">
                <div class="row">
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                {% for rental in myrental%}
                    {% for book in book_list %}
                        {% if rental.book_id == book.id %}
                        <div class="col-lg-3 mb-3 d-flex align-items-stretch" >
                            <div class="card text-center"  style="width:400px;padding:10px;border-radius:15px;">
                                <img class="align-self-center" src = "{{ url_for('static', filename='image/{}.jpg'.format(book.id)) }}" style="max-width: 40%; height: auto;" alt="Book Image">
                            <div class="card-body  d-flex flex-column">
                                <h5 class="card-title mb-auto">{{ book.book_name }}</h5><br>
                                <div style="margin-bottom:20px;" class="card-text mt-auto"> 
                                    <p>{{ rental.rental_date }} ~ {{ rental.return_date }}</p>
                                    {% for i in range(book.rating|round|int) %}
                                        <span class="star">⭐</span>
                                    {% endfor %}
                                    {% for i in range(5 - (book.rating|round|int)) %}
                                        <span class="notstar">⭐</span>
                                    {% endfor %}
                                </div>
                                <a href="/detail/{{ book.id }}" class="stretched-link"></a>
                                <a href="{{ url_for('main.return_book', book_id=book.id)}}" class="btn btn-primary mt-auto align-self-center second" style="width:180px;">반납하기</a>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                </div>
            </div>
            </section>
    {% else %}
    <h2 class="book-list-title"> 빌린 책이 없어요...</h2>
    <form action="{{ url_for('main.home')}}">
        <input class="book-list-title btn btn-warning" type="submit" value="책 대여하러 가기">
    </form>
    {% endif %}
{% endblock %}
