{% extends "base.html" %}
{% block title %}비밀번호 변경{% endblock %}
{% block page_content %}

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-3">
                <img src="{{url_for('static', filename='image/forgot.png')}}" class="img-fluid"
                alt="Sample image">
            </div>
            {% if session['id'] %}
            <div class="col-md-auto col-lg-auto col-xl-6 offset-xl-1">
                <form method="post">
                    {{form.csrf_token}}
                    <h2 class="LoginTitle">엘리스 도서관 비밀번호 변경</h2>
                    <div class="form-outline mb-3">
                        {{ form.current_password.label("현재 비밀번호") }}
                        {{ form.current_password(class="form-control", placeholder="현재 비밀번호") }}
                        {% for error in form.current_password.errors %}
                        <span class="error-message">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-outline mb-3">
                        {{ form.new_password.label("비밀번호(8자리 이상)") }}
                        {{ form.new_password(class="form-control", placeholder="새로운 비밀번호") }}
                        {% for error in form.new_password.errors %}
                        <span class="error-message">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-outline mb-3 mt-auto">
                        {{ form.password_check.label("비밀번호 확인") }}
                        {{ form.password_check(class="form-control", placeholder="새로운 비밀번호 확인") }}
                        {% for error in form.password_check.errors %}
                        <span class="error-message">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="text-center text-lg-start mt-4">
                        {{ form.submit(class="btn btn-primary btn-lg register-btn") }}
                    </div>

                
                </form>
            </div>
            {% else %}
                <h2 class="LoginTitle text-center">로그인을 먼저 해주세요.</h2>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}